@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/Roboto_Slab/RobotoSlab-Black.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
}
body {
  background-color: #d8dfde;
}
.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/VNIT_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: top;
  height: 628.933px;
}

.content-on-bg-img {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.page-title {
  flex-basis: 450px;
  display: flex;
  align-items: center;
}
.page-title .title-text {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: normal;
  color: white;
  text-align: center;
}
.cartoon-instructor {
  flex-basis: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartoon-instructor img {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 100%;
  border-color: white;
  border-width: 1px;
}
.instructor-name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  line-height: 24px;
  text-align: center;
  margin-bottom: -3px;
}

.last-updated {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-style: italic;
  color: rgb(51, 51, 51);
  line-height: 24px;
  text-align: center;
  margin-top: -2px;
  margin-bottom: 0px;
}

.underline {
  margin-top: 10px;
  border-top: 2px solid #e6e6e6;
  width: 100%;
}
.listicle {
  width: calc(66.67% + 76px);
  height: 100px;
  margin-left: calc(16.675% - 38px);
}
.lab {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
}
.lab-number-container {
  flex-basis: 36px;
  margin-right: 40px;
}
.lab-number {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
}
.lab-heading {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: rgb(51, 51, 51);
  margin-bottom: 0px;
}
.lab-location {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  color: #42b4d6;
  text-decoration: none;
}
.lab-location:hover {
  text-decoration: underline;
}
.lab-info {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lab-info-text,
.lab-recommendation-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
  margin-bottom: 0px;
  margin-top: 0px;
}
.lab-recommendation {
  margin-top: 0px;
  margin-bottom: 20px;
}
.lab-image-container {
  margin-bottom: 60px;
  margin-top: 0px;
}
.lab-image {
  width: 100%;
  margin-top: 3px;
}
@media screen and (min-device-width: 1000px) {
  .fade::after {
    content: "";
    font-size: 24px;
    color: blanchedalmond;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 510px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  .fade:hover::after {
    opacity: 0;
  }
}
